<h2>LANDMARK: <%= @landmark.name %></h2>
<label>Year completed: </label><%=@landmark.year_completed%>
<% if !@landmark.figure.nil? %>
  <h4>Figure: <%= @landmark.figure.name %></h4>
<% else %>
  <h4>This landmark is not currently associated with a figure!</h4>
<% end %>
